# Python notebook for extracting accuracy and reaction time data for the e-prime computer task
### created by Kat Marton 4/4/2024
### last edited by Kat 5/6/2024

In [1]:
import pandas as pd
import numpy as np
import os
import time
from datetime import datetime, timedelta

In [2]:
os.chdir('C:\\Users\\katgm\\Rutgers University\\Michelle Chen - Rutgers_Neuropsych_Lab\\COVID_Fatigue\\RC_award\\Data\\E-Prime')

In [3]:
def clean_epr(SubjID):
    epr = pd.read_csv(os.getcwd() + "\\" + SubjID + '\\' + SubjID + '_epr.txt',sep="\t",encoding="UTF-16 LE")
    epr = epr.replace('?',np.NaN)
    epr["Fatigue.OnsetTime"] = epr["Fatigue.OnsetTime"].ffill()
    epr["FatigueRating"] = epr["FatigueRating"].ffill()
    epr = epr.query('Block%2==0').copy() #cleaning "Blocks" column and reassigning
    epr["Block"] = (epr["Block"]/2).astype(int)
    
    epr["response"] = np.where(epr["stimulus.RESP"]=="{SPACE}", 1,0) #did they press spacebar or not coded to 0,1
    epr = epr.drop(['stimulus.ACC', 'stimulus.RESP'], axis=1) #drop inaccurate accuracy column and old response column
    
    epr["item"] = epr.index
    epr2 = epr[epr["Letter"].notnull()].copy()
    epr2.reset_index(drop=True, inplace=True)
    
    epr2['expected'] = 0
    shifted_letters = epr2["Letter"].shift(2)
    epr2.loc[epr2["Letter"] == shifted_letters, "expected"] = 1
    
    epr3 = epr2[["item", "expected"]]
    epr = pd.merge(epr, epr3, on="item", how="left")
    
    epr['expected'] = pd.to_numeric(epr['expected'], errors='coerce').astype('Int64')
    epr['stimulus.RT'] = pd.to_numeric(epr['stimulus.RT'], errors='coerce').astype('Int64')
    epr = epr.fillna(pd.NA)

    if SubjID == "Cov4": #cov4 is an exception: doesn't include AM/PM for some reason
        init_time= pd.to_datetime(epr["SessionStartDateTimeUtc"][0], format='%m/%d/%Y %H:%M')
    else:
        init_time = pd.to_datetime(epr["SessionStartDateTimeUtc"][0], format='%m/%d/%Y %I:%M:%S %p') #this is in UTC
    
    epr["timestamp"] = np.where(pd.isna(epr["stimulus.OnsetTime"]), epr["nullTrl.OnsetTime"], epr["stimulus.OnsetTime"])
    epr["timestamp"] = pd.to_timedelta(epr["timestamp"],'ms')
    epr["timestamp"] = init_time + epr["timestamp"]

    cols = ["Subject", "timestamp", "Block","Trial","Letter","response","expected","stimulus.RT","FatigueRating","ITI.OnsetTime","Fatigue.OnsetTime","nullTrl.OnsetTime","stimulus.OnsetTime","trlDuration","Order","SessionTime"]
    epr=epr[cols]

    return epr

In [4]:
cov4=clean_epr("Cov4")
cov5=clean_epr("Cov5")
cov7=clean_epr("Cov7")
cov8=clean_epr("Cov8")
cov13=clean_epr("Cov13")
cov14=clean_epr("Cov14")
cov19=clean_epr("Cov19")
cov20=clean_epr("Cov20")
cov22=clean_epr("Cov22")
cov23=clean_epr("Cov23")
cov24=clean_epr("Cov24")
cov30=clean_epr("Cov30")
cov31=clean_epr("Cov31")
cov35=clean_epr("Cov35")
cov36=clean_epr("Cov36")
cov37=clean_epr("Cov37")

In [11]:
cov5

,Subject,timestamp,Block,Trial,Letter,response,expected,stimulus.RT,FatigueRating,ITI.OnsetTime,Fatigue.OnsetTime,nullTrl.OnsetTime,stimulus.OnsetTime,trlDuration,Order,SessionTime
0,5,2023-03-03 17:07:20.516,1,1.0,H,0,0,0,55,69999.0,56465.0,NaN,68516.0,2.0,1 2 3 4 5 6,12:06:12
1,5,2023-03-03 17:07:22.516,1,2.0,V,0,0,0,55,71999.0,56465.0,NaN,70516.0,2.0,1 2 3 4 5 6,12:06:12
2,5,2023-03-03 17:07:24.516,1,3.0,<NA>,0,<NA>,<NA>,55,NaN,56465.0,72516.0,NaN,6000.0,1 2 3 4 5 6,12:06:12
3,5,2023-03-03 17:07:30.533,1,4.0,F,0,0,0,55,80017.0,56465.0,NaN,78533.0,2.0,1 2 3 4 5 6,12:06:12
4,5,2023-03-03 17:07:32.533,1,5.0,H,0,0,0,55,82017.0,56465.0,NaN,80533.0,2.0,1 2 3 4 5 6,12:06:12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
603,5,2023-03-03 17:34:39.987,6,97.0,<NA>,0,<NA>,<NA>,67,NaN,1479353.0,1707987.0,NaN,2.0,1 2 3 4 5 6,12:06:12
604,5,2023-03-03 17:34:40.003,6,98.0,M,1,1,919,67,1709487.0,1479353.0,NaN,1708003.0,2.0,1 2 3 4 5 6,12:06:12
605,5,2023-03-03 17:34:42.004,6,99.0,Z,0,0,0,67,1711487.0,1479353.0,NaN,1710004.0,2.0,1 2 3 4 5 6,12:06:12
606,5,2023-03-03 17:34:44.004,6,100.0,<NA>,0,<NA>,<NA>,67,NaN,1479353.0,1712004.0,NaN,2.0,1 2 3 4 5 6,12:06:12
607,5,2023-03-03 17:34:44.020,6,101.0,S,0,0,0,67,1713504.0,1479353.0,NaN,1712020.0,2.0,1 2 3 4 5 6,12:06:12

# Getting Accuracy
### Overall accuracy: how many correct responses in total
### Accuracy for omission errors: Not pressing spacebar when response is expected
### Accuracy for commission errors: Pressing spacebar when no response is expected

Accuracy is computed PER BLOCK, and can also be computed for specific window intervals. Which intervals? 
30 second
60 second
overlapping windows? What do I need to know to compute that? essentially, I need the timestamps of the window edges

In [6]:
df = cov5.copy()

In [81]:
df[0:50]

,Subject,timestamp,Block,Trial,Letter,response,expected,stimulus.RT,FatigueRating,ITI.OnsetTime,Fatigue.OnsetTime,nullTrl.OnsetTime,stimulus.OnsetTime,trlDuration,Order,SessionTime,block_index,omission
0,5,2023-03-03 17:07:20.516,1,1.0,H,0,0,0,55,69999.0,56465.0,NaN,68516.0,2.0,1 2 3 4 5 6,12:06:12,1,False
1,5,2023-03-03 17:07:22.516,1,2.0,V,0,0,0,55,71999.0,56465.0,NaN,70516.0,2.0,1 2 3 4 5 6,12:06:12,2,False
2,5,2023-03-03 17:07:24.516,1,3.0,<NA>,0,<NA>,<NA>,55,NaN,56465.0,72516.0,NaN,6000.0,1 2 3 4 5 6,12:06:12,3,<NA>
3,5,2023-03-03 17:07:30.533,1,4.0,F,0,0,0,55,80017.0,56465.0,NaN,78533.0,2.0,1 2 3 4 5 6,12:06:12,4,False
4,5,2023-03-03 17:07:32.533,1,5.0,H,0,0,0,55,82017.0,56465.0,NaN,80533.0,2.0,1 2 3 4 5 6,12:06:12,5,False
5,5,2023-03-03 17:07:34.533,1,6.0,<NA>,0,<NA>,<NA>,55,NaN,56465.0,82533.0,NaN,2000.0,1 2 3 4 5 6,12:06:12,6,<NA>
6,5,2023-03-03 17:07:36.550,1,7.0,F,1,1,859,55,86034.0,56465.0,NaN,84550.0,2.0,1 2 3 4 5 6,12:06:12,7,False
7,5,2023-03-03 17:07:38.550,1,8.0,Q,0,0,0,55,88034.0,56465.0,NaN,86550.0,2.0,1 2 3 4 5 6,12:06:12,8,False
8,5,2023-03-03 17:07:40.550,1,9.0,J,0,0,0,55,90034.0,56465.0,NaN,88550.0,2.0,1 2 3 4 5 6,12:06:12,9,False
9,5,2023-03-03 17:07:42.551,1,10.0,<NA>,0,<NA>,<NA>,55,NaN,56465.0,90551.0,NaN,4000.0,1 2 3 4 5 6,12:06:12,10,<NA>
10,5,2023-03-03 17:07:46.568,1,11.0,D,0,0,0,55,96051.0,56465.0,NaN,94568.0,2.0,1 2 3 4 5 6,12:06:12,11,False
11,5,2023-03-03 17:07:48.568,1,12.0,<NA>,0,<NA>,<NA>,55,NaN,56465.0,96568.0,NaN,2000.0,1 2 3 4 5 6,12:06:12,12,<NA>
12,5,2023-03-03 17:07:50.585,1,13.0,C,0,0,0,55,100068.0,56465.0,NaN,98585.0,2.0,1 2 3 4 5 6,12:06:12,13,False
13,5,2023-03-03 17:07:52.585,1,14.0,A,0,0,0,55,102068.0,56465.0,NaN,100585.0,2.0,1 2 3 4 5 6,12:06:12,14,False
14,5,2023-03-03 17:07:54.585,1,15.0,Z,0,0,0,55,104069.0,56465.0,NaN,102585.0,2.0,1 2 3 4 5 6,12:06:12,15,False
15,5,2023-03-03 17:07:56.585,1,16.0,<NA>,0,<NA>,<NA>,55,NaN,56465.0,104585.0,NaN,2000.0,1 2 3 4 5 6,12:06:12,16,<NA>
16,5,2023-03-03 17:07:58.602,1,17.0,A,0,1,0,55,108085.0,56465.0,NaN,106602.0,2.0,1 2 3 4 5 6,12:06:12,17,True
17,5,2023-03-03 17:08:00.602,1,18.0,<NA>,0,<NA>,<NA>,55,NaN,56465.0,108602.0,NaN,2000.0,1 2 3 4 5 6,12:06:12,18,<NA>
18,5,2023-03-03 17:08:02.619,1,19.0,K,0,0,0,55,112102.0,56465.0,NaN,110619.0,2.0,1 2 3 4 5 6,12:06:12,19,False
19,5,2023-03-03 17:08:04.619,1,20.0,A,0,1,0,55,114103.0,56465.0,NaN,112619.0,2.0,1 2 3 4 5 6,12:06:12,20,True
20,5,2023-03-03 17:08:06.619,1,21.0,K,1,1,804,55,116102.0,56465.0,NaN,114619.0,2.0,1 2 3 4 5 6,12:06:12,21,False
21,5,2023-03-03 17:08:08.619,1,22.0,<NA>,0,<NA>,<NA>,55,NaN,56465.0,116619.0,NaN,2000.0,1 2 3 4 5 6,12:06:12,22,<NA>
22,5,2023-03-03 17:08:10.636,1,23.0,N,0,0,0,55,120120.0,56465.0,NaN,118636.0,2.0,1 2 3 4 5 6,12:06:12,23,False
23,5,2023-03-03 17:08:12.636,1,24.0,<NA>,0,<NA>,<NA>,55,NaN,56465.0,120636.0,NaN,4000.0,1 2 3 4 5 6,12:06:12,24,<NA>
24,5,2023-03-03 17:08:16.653,1,25.0,A,0,0,0,55,126137.0,56465.0,NaN,124653.0,2.0,1 2 3 4 5 6,12:06:12,25,False
25,5,2023-03-03 17:08:18.653,1,26.0,N,1,1,1021,55,128137.0,56465.0,NaN,126653.0,2.0,1 2 3 4 5 6,12:06:12,26,False
26,5,2023-03-03 17:08:20.653,1,27.0,<NA>,0,<NA>,<NA>,55,NaN,56465.0,128653.0,NaN,6000.0,1 2 3 4 5 6,12:06:12,27,<NA>
27,5,2023-03-03 17:08:26.671,1,28.0,R,0,0,0,55,136154.0,56465.0,NaN,134671.0,2.0,1 2 3 4 5 6,12:06:12,28,False
28,5,2023-03-03 17:08:28.671,1,29.0,<NA>,0,<NA>,<NA>,55,NaN,56465.0,136671.0,NaN,4000.0,1 2 3 4 5 6,12:06:12,29,<NA>
29,5,2023-03-03 17:08:32.688,1,30.0,A,0,0,0,55,142171.0,56465.0,NaN,140688.0,2.0,1 2 3 4 5 6,12:06:12,30,False
30,5,2023-03-03 17:08:34.688,1,31.0,N,0,0,0,55,144171.0,56465.0,NaN,142688.0,2.0,1 2 3 4 5 6,12:06:12,31,False
31,5,2023-03-03 17:08:36.688,1,32.0,S,0,0,0,55,146171.0,56465.0,NaN,144688.0,2.0,1 2 3 4 5 6,12:06:12,32,False
32,5,2023-03-03 17:08:38.688,1,33.0,<NA>,0,<NA>,<NA>,55,NaN,56465.0,146688.0,NaN,2000.0,1 2 3 4 5 6,12:06:12,33,<NA>
33,5,2023-03-03 17:08:40.705,1,34.0,Z,0,0,0,55,150188.0,56465.0,NaN,148705.0,2.0,1 2 3 4 5 6,12:06:12,34,False
34,5,2023-03-03 17:08:42.705,1,35.0,<NA>,0,<NA>,<NA>,55,NaN,56465.0,150705.0,NaN,6000.0,1 2 3 4 5 6,12:06:12,35,<NA>
35,5,2023-03-03 17:08:48.722,1,36.0,J,0,0,0,55,158206.0,56465.0,NaN,156722.0,2.0,1 2 3 4 5 6,12:06:12,36,False
36,5,2023-03-03 17:08:50.722,1,37.0,<NA>,0,<NA>,<NA>,55,NaN,56465.0,158722.0,NaN,6000.0,1 2 3 4 5 6,12:06:12,37,<NA>
37,5,2023-03-03 17:08:56.739,1,38.0,Z,1,1,1003,55,166223.0,56465.0,NaN,164739.0,2.0,1 2 3 4 5 6,12:06:12,38,False
38,5,2023-03-03 17:08:58.740,1,39.0,<NA>,0,<NA>,<NA>,55,NaN,56465.0,166740.0,NaN,4000.0,1 2 3 4 5 6,12:06:12,39,<NA>
39,5,2023-03-03 17:09:02.757,1,40.0,J,0,1,0,55,172240.0,56465.0,NaN,170757.0,2.0,1 2 3 4 5 6,12:06:12,40,True
40,5,2023-03-03 17:09:04.757,1,41.0,K,0,0,0,55,174240.0,56465.0,NaN,172757.0,2.0,1 2 3 4 5 6,12:06:12,41,False
41,5,2023-03-03 17:09:06.757,1,42.0,<NA>,0,<NA>,<NA>,55,NaN,56465.0,174757.0,NaN,4000.0,1 2 3 4 5 6,12:06:12,42,<NA>
42,5,2023-03-03 17:09:10.774,1,43.0,J,0,1,0,55,180257.0,56465.0,NaN,178774.0,2.0,1 2 3 4 5 6,12:06:12,43,True
43,5,2023-03-03 17:09:12.774,1,44.0,<NA>,0,<NA>,<NA>,55,NaN,56465.0,180774.0,NaN,2000.0,1 2 3 4 5 6,12:06:12,44,<NA>
44,5,2023-03-03 17:09:14.791,1,45.0,K,0,1,0,55,184274.0,56465.0,NaN,182791.0,2.0,1 2 3 4 5 6,12:06:12,45,True
45,5,2023-03-03 17:09:16.791,1,46.0,R,0,0,0,55,186274.0,56465.0,NaN,184791.0,2.0,1 2 3 4 5 6,12:06:12,46,False
46,5,2023-03-03 17:09:18.791,1,47.0,<NA>,0,<NA>,<NA>,55,NaN,56465.0,186791.0,NaN,2000.0,1 2 3 4 5 6,12:06:12,47,<NA>
47,5,2023-03-03 17:09:20.808,1,48.0,T,0,0,0,55,190291.0,56465.0,NaN,188808.0,2.0,1 2 3 4 5 6,12:06:12,48,False
48,5,2023-03-03 17:09:22.808,1,49.0,R,0,1,0,55,192291.0,56465.0,NaN,190808.0,2.0,1 2 3 4 5 6,12:06:12,49,True
49,5,2023-03-03 17:09:24.808,1,50.0,<NA>,0,<NA>,<NA>,55,NaN,56465.0,192808.0,NaN,4000.0,1 2 3 4 5 6,12:06:12,50,<NA>

In [107]:
#overall accuracy
def get_accuracy(df):
    df_trials = df[df["Letter"].notnull()].copy()
    
    by_block = df_trials.groupby("Block")[['expected', 'response']].apply(lambda x: (x['expected']==x['response']).mean())
    by_block = by_block.reset_index()
    by_block.columns = ['Block', 'accuracy']

    by_30window = df_trials.groupby(["Block", pd.Grouper(key="timestamp", freq="1min", origin="start")])[['expected', 'response']].apply(lambda x: (x['expected']==x['response']).mean())
    by_30window = by_30window.reset_index()
    by_30window["window"] = by_30window.groupby(["Block"])["Block"].cumcount()
    by_30window.columns = ['Block', 'timestamp','accuracy','window']
    
    by_60window = df_trials.groupby(["Block", pd.Grouper(key="timestamp", freq=".5min", origin="start")])[['expected', 'response']].apply(lambda x: (x['expected']==x['response']).mean())
    by_60window = by_60window.reset_index()
    by_60window["window"] = by_60window.groupby(["Block"])["Block"].cumcount()
    by_60window.columns = ['Block', 'timestamp','accuracy','window']
    
    return by_block, by_30window, by_60window

#omission errors (when expected==1 but response==0)
def get_omission(df):
    ser1 = df["expected"]==1
    ser2 = df['response']==0
    df["omission"] = ser1&ser2

    by_block = df.groupby("Block")["omission"].sum()
    by_block = by_block.reset_index()
    
    by_60window = df.groupby(["Block", pd.Grouper(key="timestamp", freq="1min", origin="start")])["omission"].sum()
    by_60window = by_60window.reset_index()

    by_30window = df.groupby(["Block", pd.Grouper(key="timestamp", freq=".5min", origin="start")])["omission"].sum()
    by_30window = by_30window.reset_index()

    return by_block, by_60window, by_30window
    
#commission errors (when expected==0 but response==1)
def get_commission(df):
    ser1 = df["expected"]==0
    ser2 = df['response']==1
    df["commission"] = ser1&ser2

    by_block = df.groupby("Block")["commission"].sum()
    by_block = by_block.reset_index()
    
    by_60window = df.groupby(["Block", pd.Grouper(key="timestamp", freq="1min", origin="start")])["commission"].sum()
    by_60window = by_60window.reset_index()

    by_30window = df.groupby(["Block", pd.Grouper(key="timestamp", freq=".5min", origin="start")])["commission"].sum()
    by_30window = by_30window.reset_index()

    return by_block, by_60window, by_30window

In [104]:
get_accuracy(cov5)[2]

    Block               timestamp  accuracy  window
0       1 2023-03-03 17:07:20.516  1.000000       0
1       1 2023-03-03 17:07:50.516  0.800000       1
2       1 2023-03-03 17:08:20.516  1.000000       2
3       1 2023-03-03 17:08:50.516  0.500000       3
4       1 2023-03-03 17:09:20.516  0.833333       4
5       1 2023-03-03 17:09:50.516  1.000000       5
6       1 2023-03-03 17:10:20.516  0.714286       6
7       1 2023-03-03 17:10:50.516  0.888889       7
8       1 2023-03-03 17:11:20.516  1.000000       8
9       2 2023-03-03 17:12:20.516  1.000000       0
10      2 2023-03-03 17:12:50.516  1.000000       1
11      2 2023-03-03 17:13:20.516  0.600000       2
12      2 2023-03-03 17:13:50.516  0.750000       3
13      2 2023-03-03 17:14:20.516  0.750000       4
14      2 2023-03-03 17:14:50.516  0.777778       5
15      2 2023-03-03 17:15:20.516  1.000000       6
16      2 2023-03-03 17:15:50.516  0.750000       7
17      2 2023-03-03 17:16:20.516  1.000000       8
18      2 2023-03-03 17:16:50.516  1.000000       9
19      3 2023-03-03 17:17:20.516  0.750000       0
20      3 2023-03-03 17:17:50.516  1.000000       1
21      3 2023-03-03 17:18:20.516  1.000000       2
22      3 2023-03-03 17:18:50.516  0.750000       3
23      3 2023-03-03 17:19:20.516  0.857143       4
24      3 2023-03-03 17:19:50.516  0.833333       5
25      3 2023-03-03 17:20:20.516  0.777778       6
26      3 2023-03-03 17:20:50.516  0.833333       7
27      3 2023-03-03 17:21:20.516  1.000000       8
28      4 2023-03-03 17:21:50.516  1.000000       0
29      4 2023-03-03 17:22:20.516  1.000000       1
30      4 2023-03-03 17:22:50.516  1.000000       2
31      4 2023-03-03 17:23:20.516  1.000000       3
32      4 2023-03-03 17:23:50.516  0.777778       4
33      4 2023-03-03 17:24:20.516  0.875000       5
34      4 2023-03-03 17:24:50.516  1.000000       6
35      4 2023-03-03 17:25:20.516  0.875000       7
36      4 2023-03-03 17:25:50.516  0.571429       8
37      4 2023-03-03 17:26:20.516  1.000000       9
38      5 2023-03-03 17:26:50.516  1.000000       0
39      5 2023-03-03 17:27:20.516  0.900000       1
40      5 2023-03-03 17:27:50.516  0.916667       2
41      5 2023-03-03 17:28:20.516  1.000000       3
42      5 2023-03-03 17:28:50.516  0.833333       4
43      5 2023-03-03 17:29:20.516  0.800000       5
44      5 2023-03-03 17:29:50.516  1.000000       6
45      5 2023-03-03 17:30:20.516  1.000000       7
46      6 2023-03-03 17:30:50.516  0.800000       0
47      6 2023-03-03 17:31:20.516  0.800000       1
48      6 2023-03-03 17:31:50.516  0.857143       2
49      6 2023-03-03 17:32:20.516  0.900000       3
50      6 2023-03-03 17:32:50.516  0.888889       4
51      6 2023-03-03 17:33:20.516  0.666667       5
52      6 2023-03-03 17:33:50.516  0.800000       6
53      6 2023-03-03 17:34:20.516  1.000000       7

In [109]:
get_omission(cov5)[2]

    Block               timestamp  omission
0       1 2023-03-03 17:07:20.516         0
1       1 2023-03-03 17:07:50.516         2
2       1 2023-03-03 17:08:20.516         0
3       1 2023-03-03 17:08:50.516         3
4       1 2023-03-03 17:09:20.516         1
5       1 2023-03-03 17:09:50.516         0
6       1 2023-03-03 17:10:20.516         2
7       1 2023-03-03 17:10:50.516         1
8       1 2023-03-03 17:11:20.516         0
9       2 2023-03-03 17:12:20.516         0
10      2 2023-03-03 17:12:50.516         0
11      2 2023-03-03 17:13:20.516         4
12      2 2023-03-03 17:13:50.516         2
13      2 2023-03-03 17:14:20.516         2
14      2 2023-03-03 17:14:50.516         2
15      2 2023-03-03 17:15:20.516         0
16      2 2023-03-03 17:15:50.516         2
17      2 2023-03-03 17:16:20.516         0
18      2 2023-03-03 17:16:50.516         0
19      3 2023-03-03 17:17:20.516         2
20      3 2023-03-03 17:17:50.516         0
21      3 2023-03-03 17:18:20.516         0
22      3 2023-03-03 17:18:50.516         2
23      3 2023-03-03 17:19:20.516         1
24      3 2023-03-03 17:19:50.516         1
25      3 2023-03-03 17:20:20.516         2
26      3 2023-03-03 17:20:50.516         1
27      3 2023-03-03 17:21:20.516         0
28      4 2023-03-03 17:21:50.516         0
29      4 2023-03-03 17:22:20.516         0
30      4 2023-03-03 17:22:50.516         0
31      4 2023-03-03 17:23:20.516         0
32      4 2023-03-03 17:23:50.516         2
33      4 2023-03-03 17:24:20.516         1
34      4 2023-03-03 17:24:50.516         0
35      4 2023-03-03 17:25:20.516         1
36      4 2023-03-03 17:25:50.516         3
37      4 2023-03-03 17:26:20.516         0
38      5 2023-03-03 17:26:50.516         0
39      5 2023-03-03 17:27:20.516         1
40      5 2023-03-03 17:27:50.516         1
41      5 2023-03-03 17:28:20.516         0
42      5 2023-03-03 17:28:50.516         1
43      5 2023-03-03 17:29:20.516         2
44      5 2023-03-03 17:29:50.516         0
45      5 2023-03-03 17:30:20.516         0
46      6 2023-03-03 17:30:50.516         1
47      6 2023-03-03 17:31:20.516         2
48      6 2023-03-03 17:31:50.516         1
49      6 2023-03-03 17:32:20.516         1
50      6 2023-03-03 17:32:50.516         1
51      6 2023-03-03 17:33:20.516         2
52      6 2023-03-03 17:33:50.516         2
53      6 2023-03-03 17:34:20.516         0

In [113]:
get_commission(cov7)[2]

    Block               timestamp  commission
0       1 2023-04-06 18:06:22.871           0
1       1 2023-04-06 18:06:52.871           0
2       1 2023-04-06 18:07:22.871           0
3       1 2023-04-06 18:07:52.871           0
4       1 2023-04-06 18:08:22.871           0
5       1 2023-04-06 18:08:52.871           1
6       1 2023-04-06 18:09:22.871           0
7       1 2023-04-06 18:09:52.871           0
8       1 2023-04-06 18:10:22.871           0
9       2 2023-04-06 18:10:52.871           0
10      2 2023-04-06 18:11:22.871           1
11      2 2023-04-06 18:11:52.871           0
12      2 2023-04-06 18:12:22.871           0
13      2 2023-04-06 18:12:52.871           0
14      2 2023-04-06 18:13:22.871           0
15      2 2023-04-06 18:13:52.871           0
16      2 2023-04-06 18:14:22.871           0
17      2 2023-04-06 18:14:52.871           0
18      2 2023-04-06 18:15:22.871           0
19      3 2023-04-06 18:16:22.871           0
20      3 2023-04-06 18:16:52.871           1
21      3 2023-04-06 18:17:22.871           0
22      3 2023-04-06 18:17:52.871           1
23      3 2023-04-06 18:18:22.871           0
24      3 2023-04-06 18:18:52.871           1
25      3 2023-04-06 18:19:22.871           0
26      3 2023-04-06 18:19:52.871           0
27      3 2023-04-06 18:20:22.871           0
28      4 2023-04-06 18:20:52.871           0
29      4 2023-04-06 18:21:22.871           0
30      4 2023-04-06 18:21:52.871           1
31      4 2023-04-06 18:22:22.871           0
32      4 2023-04-06 18:22:52.871           0
33      4 2023-04-06 18:23:22.871           0
34      4 2023-04-06 18:23:52.871           0
35      4 2023-04-06 18:24:22.871           1
36      4 2023-04-06 18:24:52.871           0
37      4 2023-04-06 18:25:22.871           0
38      5 2023-04-06 18:25:22.871           0
39      5 2023-04-06 18:25:52.871           0
40      5 2023-04-06 18:26:22.871           0
41      5 2023-04-06 18:26:52.871           0
42      5 2023-04-06 18:27:22.871           0
43      5 2023-04-06 18:27:52.871           1
44      5 2023-04-06 18:28:22.871           0
45      5 2023-04-06 18:28:52.871           0
46      5 2023-04-06 18:29:22.871           0
47      6 2023-04-06 18:29:52.871           0
48      6 2023-04-06 18:30:22.871           0
49      6 2023-04-06 18:30:52.871           1
50      6 2023-04-06 18:31:22.871           0
51      6 2023-04-06 18:31:52.871           0
52      6 2023-04-06 18:32:22.871           0
53      6 2023-04-06 18:32:52.871           0
54      6 2023-04-06 18:33:22.871           0

# Getting Reaction Times
### Again, can get by block and by windows

In [125]:
def get_rt(df):
    df["stimulus.RT"] = df["stimulus.RT"].replace(0,pd.NA)
        
    #reaction time by block
    by_block = df.groupby("Block")["stimulus.RT"].mean()
    by_block = by_block.reset_index()
    
    #reaction time 60 seconds
    by_60window = df.groupby(["Block", pd.Grouper(key="timestamp", freq="1min", origin="start")])["stimulus.RT"].mean()
    by_60window = by_60window.reset_index()
    
    #reaction time 30 seconds
    by_30window = df.groupby(["Block", pd.Grouper(key="timestamp", freq=".5min", origin="start")])["stimulus.RT"].mean()
    by_30window = by_30window.reset_index()

    return by_block, by_60window, by_30window

In [126]:
get_rt(cov5)[0]

   Block  stimulus.RT
0      1  1017.666667
1      2   882.888889
2      3   978.222222
3      4        899.1
4      5   995.777778
5      6      1072.25

## Code for reading tags (not useful for accuracy, just for checking timestamps and blocks)

In [98]:
#this code only works for e4 users
SubjID="Cov22"
os.chdir('C:\\Users\\katgm\\Rutgers University\\Michelle Chen - Rutgers_Neuropsych_Lab\\COVID_Fatigue\\RC_award\\Data\\EmpaticaE4')
tags=pd.read_csv(os.getcwd() + "\\" + SubjID + "\\" + SubjID + "_baseline\\tags.csv",header=None) 
tags = tags.map(lambda x: pd.to_datetime(x,unit="s"))